@model PagedList.IPagedList<MVC_Capas.Models.Persona>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Clientes";
}

<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Nuevo Cliente", "nuevoCliente", "Clientes", null, new { @class = "btn btn-primary" })
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("listaClientes", "Clientes", FormMethod.Get))
        {
            <p>
                Criterio de búsqueda: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" class="btn btn-primary" value="Buscar">
            </p>
        }
    </div>
</div>
<div class="table-responsive">
    <table class="table">

        <div class="row">
            <div class="col-lg-12">
                <tr>
                    <th>
                        @Html.ActionLink("Cédula", "listaClientes", new { sortOrder = ViewBag.CedulaSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Nombre", "listaClientes", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Primer Apellido", "listaClientes", new { sortOrder = ViewBag.Ape1SortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Segundo Apellido", "listaClientes", new { sortOrder = ViewBag.Ape2SortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Cuentas
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido2)
                        </td>
                        <td>
                            @for (int i=0; i < item.Cuenta.Count; i++)
                            {
                             @Html.DisplayFor(modelItem => item.Cuenta.ElementAt(i).numero)
                            @Html.Raw(" ")
                                <br />
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("consultarCliente", new { id = item.cedula})" class="btn btn-primary">Consultar
                            </a>
                            <a href="@Url.Action("modificarCliente", new { id = item.cedula})" class="btn btn-warning">
                                Modificar
                            </a>
                            <a href="@Url.Action("eliminarCliente", new { id = item.cedula})" class="btn btn-danger">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </div>
        </div>
    </table>
</div>



<br />

    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("listaClientes",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))